<div class="container">
    <div class="row padded">
      <h1 class="publications-title">Annonces publiées</h1>
    </div>
  <div class="row">
    <% @publications.each do |publication| %>
      <div class="col-xs-12 col-md-10 col-md-offset-1 publication">

        <div class="publication-head">
          <h3><%=truncate(publication.customer.capitalize, length: 15) %></h3>
          <h4><%= publication.created_at.strftime("%d/%m/%Y")%></h4>
        </div>

        <div class="publication-body">
          <h3><%= publication.title.capitalize %></h3>
        </div>

        <div class="publication-reference">
          <% if publication.bill.present?%>

            <%= link_to  bill_path(publication.bill), class:"btn btn-md btn-primary" do %>
              <%= "#{publication.bill.reference}"%> <i class="fa fa-download"></i>
            <% end %>
          <% else %>
            <%= link_to "Générer", publication_bills_path(publication), method: :post, class: "btn btn-md btn-warning btn-generate" %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-10 col-md-offset-1 pagination">
    <%= paginate @publications %>
  </div>

</div>
