<div class="container">
  <div class="row">
    <h1>Publications</h1>

<table class="table table-striped">

<tr>
  <th>Client</th>
  <th>Annonce</th>
  <th>Date de publication</th>
  <th>Facture</th>
</tr>

  <% @publications.each do |publication| %>
<tr>
    <td><%= publication.customer %></td>
    <td><%= publication.title %></td>
    <td><%= publication.created_at.strftime("%d/%m/%Y")%></td>
    <% if publication.bill.present?%>
      <td><%= link_to "Yo", "#"  %></td>
    <% else %>
      <td><%= link_to "Générer", "#"  %></td>
    <% end %>
</tr>
  <% end %>

</table>

  </div>
</div>
