<div class="container">
  <div class="row">
    <h1>Publications</h1>

<table class="table table-striped">

<tr>
  <th>Client</th>
  <th>Annonce</th>
  <th>Date de publication</th>
  <th>Facture</th>
</tr>

  <% @publications.each do |publication| %>
<tr>
    <td><%= publication.customer %></td>
    <td><%= publication.title %></td>
    <td><%= publication.created_at.strftime("%d/%m/%Y")%></td>
    <% if publication.bill.present?%>
      <td><%= link_to "#{publication.bill.reference} (télécharger)", publication_path(publication) %></td>
    <% else %>
      <td> <%= link_to "Générer", publication_bills_path(publication), method: :post %></td>



      <%#= link_to 'Import Page', pages_path(:page => { name: page['name'], page_id: page['page_id'] }), :class => 'button default tiny', :method => :post%>

    <% end %>
</tr>
  <% end %>

</table>

  </div>
</div>
